* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-decoration: none;
}
.foto{
    background-image: url(./img/Background.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
}



span {
    color: aqua;
}

.t1 {
    color: rgb(164, 144, 216);
}

header {
    display: flex;
    background-color: rgba(21, 17, 78, 0.842);
    border: 100%;
    width: 100%;
    height: 69px;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    border-radius: 5px;
   
}

.menu-mobile {
    display: none;
    text-align: right;
    width: 50%;
}

.menu-mobile ul {
    background-color: rgba(32, 16, 253, 0.233);
    opacity: 0;
    transition: 1s;
    width: 100%;
    position: absolute;
    left: 0;
    top: 80px;
    text-align: center;
}

.show-menu {
    opacity: 1 !important;
}

.menu-mobile i {
    cursor: pointer;
    color: aliceblue;
    font-size: 19px;

}

@media screen and (max-width:770px) {
    .menu-mobile {
        display: block;
    }

    .menu-mobileul {
        display: none;
    }

    .menu-desktop {
        display: none;
    }
}
.sobreMim{
    margin: 0;
}

h2 {
    transition: padding 500ms;

    color: rgb(14, 77, 172);
    font-size: 75px;
    width: 1130;
    margin: 30px auto;
    text-align: center;


}

h2:hover {
    color: rgb(8, 13, 61);
    padding: 20px;
    cursor: pointer;
}



nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 24px;

}


nav ul li a {
    
    margin-top: 30px;
    color: rgb(101, 173, 221);
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    transition: padding 800ms;
    animation-iteration-count: infinite;
}

nav ul li a:hover {
    color: rgb(15, 177, 177);
    transition: 1s;
    padding: 2px;

}


.about {
    width: 100%;
    padding: 100px 0px;   
}

.main {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    color: rgb(182, 230, 215);
    height: 600px;
    background: rgba(50, 31, 214, 0.3 );
    border-radius: 20px;
    flex-wrap: wrap;
    padding: 0;
}

.main:hover {
    padding: 50px;
    font-size: 25px;
    background: rgba(50, 31, 214, 0.6 );
}

.main p {
    text-align: center;
    margin: auto;
    font-weight: bold;
    p
}

.skills {

    width: 100%;
    padding: 100px 0px;

}



.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    

}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    font-size: 30px;
    background: rgba(50, 31, 214, 0.3 );
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: padding 700ms;
    display: inline-block;
}

.card:hover {
    padding: 40px;
    background-color: rgb(49, 31, 214);

}

h5{
    color: whitesmoke;
    padding: 20px;
   
}




.img-card {
    width: 60px;
}


.pra p {
    color: whitesmoke;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
    
}

.card a {
    background-color: rgba(52, 125, 235, 0.555);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: 200ms, padding 500ms;
    transition: .4s;
    color:rgb(89, 20, 168);
 
    
}

.card a:hover {
    padding: 20px;
    background-color: rgba(0, 255, 255, 0.555);
}




img {
    width: 70px;
    display: inline-block;
}

footer {

    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  


}

footer p:nth-child(1) {
    font-size: 30px;
    
    margin-bottom: 20px;
    font-weight: bold;

}

footer p {
    animation: changeColor 2s linear 0s normal forwards;
    animation-iteration-count: infinite;
}

@keyframes changeColor {
    10% {
        color: rgb(26, 183, 245);
    }

    20% {
        color: rgba(70, 208, 233, 0.774);
    }

    30% {
        color: rgb(53, 15, 192);
    }

    100% {
        color: rgb(83, 73, 221);
    }
}
footer{
    
}

.end {
    position: absolute;
    
    bottom: 40px;
    font-size: 20px;

}