body {
    margin: 0;
    padding: 0px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color: #555;
}

h1,
h2 {
    color: #111
}

.top-bar {
    background-color: #333;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 8px;
    border-bottom: #fd8a24 solid 5px;
}

.container {
    max-width: 888px;
    margin: auto;
    padding: 30px;

}

.headline {
    font-size: 56px;
    line-height: 64px;

}

.subtitle {
    font-weight: normal;
    font-size: 20px;

}

.autor {
    font-weight: bold;
    font-size: 0.8em;
    

}

.social-icons {

    margin-top: 10px;
    
}

.social-icon {
    width: 20px;
    padding: 10px 10px 10px 0px
}

a {
    text-decoration: none;
    color: #fd8a24;
    font-weight: 700;
}

.contet {
    max-width: 648px;
    margin: auto;
}

p {
    font-size: 20px;
    line-height: 32px
}

.cta {
    font-size: 20px;
    margin: 30px 0px;
}

figure {
    padding: 0;
    margin: 40px 0px;  
    font-size: 20px;
}
figure>img {

    width: 100%;
}
.footer{
    background-color: #333;
    height: 100px;
}