* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    
}
body{
    background-color: black;
    background-color:  rgb(68, 29, 7);
}
.game-board {
    width: 100%;
    height: 850px;
    border-bottom: 25px solid rgb(35, 160, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient( #1069b3,#2377bd,#6ab7f5 , #fff);
   
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation:  pipe-animetion  1.5s  infinite  linear;

}


.mario {
    width: 150px;
    position: absolute;
    bottom: 0;
    
    
}
.jump{
    animation: jump 500ms ease-out;
}
.clouds{
    width: 550px;
    position: absolute;
    animation: clouds 20s infinite linear;
}


#refresh{
    padding: 20px;
    font-size: 20px;
    background-color: rgb(46, 22, 9);
    border: none;
    border-radius: 10px;
    margin-top: 15px;
   
    margin-left: 40%;
    color: brown;
}
#refresh:active{
    box-shadow: inset -4px 4px 0  rgb(27, 12, 4);
    font-size: 0.9rem;
   
}

.score{
    padding: 20px;
    font-size: 20px;
    background-color: rgb(46, 22, 9);
    border: none;
    border-radius: 10px;
    color: brown;

}
.score:hover{
    background-color: rgb(35, 160, 35);
}
@keyframes jump {
    0% {
        bottom: 0;
    }
    40% {
        bottom: 180px;
    }
    50% {
        bottom: 160px;
    }
    60% {
        bottom: 180px;
    }
    100%{
        bottom: 0px;
    }
}

@keyframes pipe-animetion {
    from {
        right: -80px;
    }

    to {
        right: 100%;

    }

}
@keyframes clouds {
        from{
            right:-550px;
        }
    to {
        right: 100%;
    }
}
