
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif, Arial, Helvetica, ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #05223f;
}

.card {
    width: 150px;
    height: 150px;
    position:relative;
    transform-style:preserve-3d ;
    transition: .5s;
}

.card_front,
.card_back {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.45);
    position: absolute;
    backface-visibility: hidden;

}

.flip{
    transform: rotateY(180deg);
}
.card_front {
    background-color: #101c2c;
    transform: rotateY(180deg);





}
img{
    width: 100px;
    height: 100px;
}

.card_back {
    color: #101c2c;
    background-color: #05c3ff;
    font-size: 30px;
    font-weight: bold;
}
#gameOver{
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 50px;
    display: none ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#restart{
    padding: 20px;
    font-size: 20px;
    background-color: yellow;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
}
#gameBoard{
    
    max-width: 700px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    gap: 20px;

}